---
export interface Props {
  title?: string;
}

const { title = "Resultado" } = Astro.props;
---
<div class="result-container">
  <div class="result-box">
    <h3>{title}</h3>
    <div id="result"></div>
    <div id="formula-used"></div>
  </div>
</div>
