---
export interface Option {
  value: string;
  label: string;
}

export interface Props {
  options: Option[];
  defaultValue?: string;
}

const { options, defaultValue } = Astro.props;
---
<div class="variable-selector">
  <label for="variable-to-solve">Calcular:</label>
  <select id="variable-to-solve" name="variable-to-solve">
    {options.map((option) => (
      <option value={option.value} selected={option.value === defaultValue}>
        {option.label}
      </option>
    ))}
  </select>
</div>
