---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de nosotros"
	description="Acerca de nosotros"
	pubDate={new Date('2025-05-20')}
	heroImage="/blog-placeholder-2.jpg"
>
	<p>
		Somos un grupo de estudiantes de ingeniería apasionados por la física y la programación. Nos dedicamos a desarrollar herramientas que contribuyan a facilitar el aprendizaje de la física y las matemáticas. Nuestra intención es compartir nuestro conocimiento con la comunidad, fomentando el interés por estas disciplinas y promoviendo un entorno de aprendizaje accesible y enriquecedor.
	</p>

</Layout>
