---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>¡Plataforma de aprendizaje de física!</h1>
			<p>
				La física es la ciencia que estudia cómo funciona el mundo. Se ocupa de entender todo, desde la caída de una manzana hasta cómo brillan las estrellas en el cielo. En esencia, busca explicar las leyes que rigen el universo.
			</p>
			<p>
				Algunos ejemplos de cosas que la física nos ayuda a entender:
			</p>
			<ul>
				<li><bold>Movimiento: </bold>Por qué los autos se detienen cuando frenas.</li>
				<li><bold>Energía: </bold>Cómo la electricidad llega a tu casa</li>
				<li><bold>Gravedad: </bold>Por qué no flotamos como astronautas en el espacio.</li>
				<li><bold>Luz y sonido: </bold>Cómo vemos colores y escuchamos música.</li>
			</ul>
			<p>
				La física está en todo lo que nos rodea, incluso cuando jugamos deportes o usamos un celular. ¡Es como descubrir los secretos invisibles que gobiernan nuestra realidad! 
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	h1{
		text-align: center;
		font-size: clamp(2rem, 5vw, 4rem);
	}
	p{
		font-size: clamp(1rem, 1vw, 2rem);
	}
	ul{
		font-size: clamp(1rem, 1vw, 2rem);
		list-style: none;
	}
	li{
		margin: 0.5em 0;
	}
	li bold{
		font-weight: bold;
	}
	
</style>