---
import SimulatorLayout from "../../../layouts/SimulatorLayout.astro";
import SimulatorComponent from "../../../components/simulator/MCUA/SimulatorComponent"
---
<SimulatorLayout
  title="MCUA Simulador"
  description="Simulador de movimiento circular uniformemente acelerado (MCUA) con un objeto que se mueve en un círculo"
>
  <header>
    <h1 class="simulator-title">Simulador de Movimiento Ciruclar Uniformemente Acelerado</h1>
  </header>
  <section class="simulator-container">
    <SimulatorComponent client:load/>
  </section>
  <script>
    
  </script>
</SimulatorLayout>
<style>
.simulator-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  color: var(--accent-dark);
}

.simulator-container{
  display: grid;
}
h1 {
  margin-top: 2em;
}

</style>